

a{
    text-decoration: none;
}
.container{
    padding-top: 10%;
    align-items: center;
}

img{
    height: 400px;
}

.col-md-6 p{
    font-weight: lighter;
    font-size: 24px;
    text-align: left;
    color: black;
    letter-spacing: .1em;
    white-space: nowrap;
    overflow: hidden;
    animation: 
    typing 1s steps(40, end);
}


.col-lg-6 h3{
    font-weight: bold;
    font-size: 64px;
    text-align: left;
    color: whitesmoke;
    animation: 1s slide-right forwards;
    transform:translateX(-200%);
}
.col-md-4{width: 100%;}

.col-md-4 p{
    font-weight: lighter;
    font-size: 24px;
    text-align: left;
    font-style: none;
    white-space: nowrap;
    color: black;
    letter-spacing: .1em;
    overflow: hidden;
    animation: 
    typing 2s steps(40, end);
}
.col-md-4 p:hover{
    cursor: pointer;
    font-weight: bold;
}

















