<main>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col1">
                <div class="col-lg-6 mb-4 mb-lg-0 ">

                    <h3 class="font-weight-bold text-black">SISPOS</h3>

                    <p class="texter">The most advanced, and</p>
                    <p class="texter">free POS dashboard.</p>
                </div>
            </div>
            <div class="col-md-6 col2">
                <div class="col-lg-6 align-items-center justify-content-center">

                    <img src="../../../assets/img/pos.png" class="" alt="">

                </div>
            </div>
        </div>
    </div>
    <div class="container links">
        <div class="row">
            <div class="col-md-4 col3">
                <a routerLink="login">
                    <p class="text"><i class="fa-solid fa-right-to-bracket"></i> LOGIN</p>
                </a>
                <a rel="noopener" href="https://sispay.net/sispay/index.html#contact" target="_blank">
                    <p class="text"><i class="fa-solid fa-headset"></i> CONTACT CUSTOMER SUPPORT</p>
                </a>
            </div>
        </div>
    </div>
</main>