label {
    color: black;
}

#defaultLoginFormRemember {
    margin-right: 10px;
}

p {
    font-weight: lighter;
    align-items: center;
    font-size: 24px;
    text-align: left;
    color: black;
    letter-spacing: .1em;
}

.container {
    animation: 1s slide-right forwards;
    transform: translateX(-100%);
}

.col-md-6 {
    margin-top: 20%;
}

main {
    overflow: hidden;
}

@keyframes slide-right {
    to {
        transform: translateX(0);
    }
}