<main>
    <br>
    <div class="container py-4">
        <div class="row container-fluid" cdkDropListGroup>
            <div class="col-lg-5">
                <div class="card overflow-hidden p-0">
                    <div class="h-100">
                        <div class="border-radius-lg ">
                            <div class="card-header pb-0 p-3">
                                <div class="d-flex justify-content-between">
                                    <h6 class="mb-2">Ongoing Tasks</h6><i class="fa-regular fa-clock text-warning"></i>
                                </div>
                            </div>
                            <div cdkDropList [cdkDropListData]="incompleteTasks" class="example-list"
                                (cdkDropListDropped)="drop($event)">
                                <div class="example-box" *ngFor="let item of incompleteTasks" cdkDrag
                                    title="{{item.description}}">{{item.name}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <button title="Add Task" type="button" class="btn btn-success btn-circle btn-xl w-10"
                    (click)="this.openCreate()"><i class="fa-regular fa-plus"></i></button>
            </div>
            <div class="col-lg-5">
                <div class="card overflow-hidden p-0">
                    <div class="h-100">
                        <div class="border-radius-lg">
                            <div class="card-header pb-0 p-3">
                                <div class="d-flex justify-content-between">
                                    <h6 class="mb-2">Complete Tasks</h6><i class="fa-solid fa-check text-success"></i>
                                </div>
                            </div>
                            <div cdkDropList [cdkDropListData]="completeTasks" class="example-list"
                                (cdkDropListDropped)="drop($event)">
                                <div class="example-box" *ngFor="let item of completeTasks" cdkDrag
                                    title="{{item.description}}">{{item.name}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <button title="Delete Completed Tasks" type="button" class="btn btn-danger btn-circle btn-xl w-10"
                    (click)="this.deleteIncomplete()"><i class="fa-regular fa-trash-can"></i></button>
            </div>
        </div>
    </div>
</main>